.wrapper {
  display: flex;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
}


.title {
  margin-right: 2rem;
}


.top-header {
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  background-color: rgb(244, 220, 220);
  min-height: 4rem;
}

.location-option-bar {
  display: flex;
  max-width: 1024px;
  width: 100%;
  justify-content: flex-start;
}

.location-option-bar>div {
  padding: 0.5rem 0.8rem;
}

.location-option-bar div>*:nth-child(2n) {
  margin: 0 0.5rem;
}

.top-header>div {
  align-items: center;
}

.header-search {
  display: flex;
  width: 100%;
  flex: 3;
}

.user-profile {
  display: flex;
  width: 100%;
  flex: 1;
}

.banner-image-container {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(244, 220, 220);
  height: 350px;
}

.banner-image-container>img {
  width: 70%;
  height: 100%;
}

.banner-slogan {
  position: absolute;
  top: 8rem;
  left: 2rem;
}

h1>span {
  display: block;
  font-size: 4rem;
}